{% extends 'base.template.html' %}
{%load static %}
{%load crispy_forms_tags %}
{%block content%}
<h1> Comment Room </h1>


<div class="container">
    {% for comment in comments%}
    <div class="row">
    <h5 class="card-title"><img src="{{user.profile.profileimg}}" style="height: 30px; width: 30px; border-radius: 100%;"/> {{product.owner.profile.username}}</h5>
    <p>{{comment.body}}</p>
    <a href="{% url 'delete_comment_route' comment_id=comment.id %}">delete</a>
    </div>
    {%endfor%}
</div>

    <div class="container">
    <form method="POST">
    {% csrf_token %}
    {{ form|crispy}}
    <input type="Submit"/>
    </form>
</div>
{%endblock%}