{% extends 'base.template.html' %}
{%load static %}
{%load crispy_forms_tags %}

{%block content%}
    <body>

        {%for material in materials%}
        {% if order_id == material.order.id %}
        {% if order.owner == user %}
        <div class="row">
            <div class='alert alert-success' style="height: 50px;">    
                <div>
                    <div class="message">
                       <p> Your tutor has uploaded your material. Enjoy!    
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times;</button> </p>
                    </div>

                </div>
            </div>
        </div>
        {%endif%}
        {% endif %}
        {%endfor%}
        
        <div class="row">
        <h1 style="border-bottom: 1.5px solid blue;">Viewing material for {{order.product.title}} </h1>
        </div>
            <div class="row">
            {%for material in materials%}
                {% if order_id == material.order.id %}
                    <div class="card" style="width: 110rem; padding:5px; border:white">
                        <div class="card-body">

                            <div class="box row" style="display:flexbox; box-sizing: border-box; box-shadow: rgba(0,0,0,0.16) 0px 3px 10px, rgba(0,0,0,0.23) 0px 3px 10px;"> 
                            <div class="col" style="padding:0;">
                            <div class="flex-video widescreen" style="display: flex;">
                                <iframe width="885" height="498" src="{{material.video}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                            <div class="col">
                                notes
                                <p class="card-text">{{material.content}}</p>
                                <a class="btn btn-primary theme" href="{% url 'show_comment_room_route' material_id=material.id %}">Enter chat room</a>

                            </div>
                        </div>
                        

                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div style="display: none;">
                        {{ form|crispy}}
                        </div>
                        <input type="Submit" value="resolve"/>
                        </form>
                    <a href="{% url 'update_content_route' order_id=material.id %}">Edit</a>
                    <a href="{% url 'delete_content_route' material_id=material.id %}">delete</a>
                    <a href="{% url 'create_review_route' order_id=material.order.id %}">Review</a>
                    
                {%endif%}
                
            {%endfor%}
        </div>
    </body>


{%endblock%}
