{% extends 'base.template.html' %}
{%load static %}
{%load crispy_forms_tags %}

{%block content%}
    <body>

        {%for material in materials%}
        {% if order_id == material.order.id %}
        {% if order.owner == user %}
        <div class="row">
            <div class='alert alert-success' style="height: 50px;">    
                <div>
                    <div class="message">
                       <p> Your tutor has uploaded your material. Enjoy!    
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times;</button> </p>
                    </div>

                </div>
            </div>
            </div>
            {%endif%}
           {% endif %}
           {%endfor%}
        
        <h1>Material </h1>
            <div class="row">
            {%for material in materials%}
                {% if order_id == material.order.id %}
                    <div class="card" style="width: 110rem;">
                        <div class="card-body">
                            <h5 class="card-title">RE: {{material.order.title}} </h5>
                            <h5 class="card-title">From: {{material.product.title}} </h5>
                            Price:
                            <h5 class="card-title">{{material.order.product.price}}</h5>
                            <p class="card-text">{{material.content}}</p>

                            
                            <div class="flex-video widescreen">
                                <iframe width="400" height="290" src="{{material.video}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                            
                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div style="display: none;">
                        {{ form|crispy}}
                        </div>
                        <input type="Submit" value="resolve"/>
                        </form>
                    <a href="{% url 'update_content_route' order_id=material.id %}">Edit</a>
                    <a href="{% url 'delete_content_route' material_id=material.id %}">delete</a>
                    <a href="{% url 'create_review_route' order_id=material.order.id %}">Review</a>
                {%endif%}
                
            {%endfor%}
        </div>
    </body>


{%endblock%}
