{%extends 'base.template.html'%}

{%block content %}

<h1> Cart </h1>
{%for key, cart_item in cart.items %}
<div class="card">
    <div class="card-title">{{cart_item.title}}</div>
    <div class="card-body">
    <p>
        Quantity:{{cart_item.qty}}<br/>
        Price: {{cart_item.cost}}
    </p>

    {{cart_item.order_title}}
    {{cart_item.order_content}}

    <a class="btn btn-danger btn-sm" href="{% url 'remove_from_cart_route' product_id=cart_item.id %}">Remove</a>
    </div>
</div>
{%endfor%}
{%endblock%}