{% extends 'base.template.html' %}
{%load static %}
{%block title%}FAQ{%endblock%}

{%block content%}

<section class="faq" style="padding: 2px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 text-center">
                <div class="section-title" style="padding: 30px;">
                    <h2 style="border-bottom: 2px solid rgb(53, 2, 196)">Frequently Asked Questions </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="accordion" id="accordionTeachSenpai">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">
                                        <button style="color: black" class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                            What is TeachSenpai?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" data-parent="#accordionTeachSenpai">
                                    <div class="card-body">
                                        TeachSenpai is a peer to peer e-tutorial platform. Connecting to you with people
                                        whom you can seek direct consultation from to help you with your studies or
                                        work.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">
                                        <button style="color: black" class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            How to consult our teachers?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordionTeachSenpai">
                                    <div class="card-body">
                                        Simply look for the topic of your question. 
                                        Ie. how to add string in python? -> look for 'python'
                                        Click on product card
                                        Click <b>Continue</b>
                                        Go to  <b>cart</b>
                                        Click <b>Secure checkout</b>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">
                                        <button style="color: black" class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            How do I share materials with my teacher?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordionTeachSenpai">
                                    <div class="card-body">
                                        <p style="white-space: pre-wrap; margin-top:5px;"> After making an order, you may share more information by going to the <b>Chat Room</b>.
Go to Chat Room -> Send messages to chat with your teacher -> Send images to show your working/materials.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">
                                        <button style="color: black" class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            TeachSenpai for Business
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse4" class="collapse" data-parent="#accordionTeachSenpai">
                                    <div class="card-body">
                                        TeachSenpai will apply 20% transaction fees for all transactions. 
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">
                                        <button style="color: black" class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse5" aria-expanded="false"
                                            aria-controls="collapseOne">
                                            How do I be a teacher on TeachSenpai?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapse5" class="collapse" data-parent="#accordionTeachSenpai">
                                    <div class="card-body">
                                        <p style="white-space: pre-wrap; margin-top:5px;">
- Sign up for an account. 
- Set up your profile, make sure to put in a good description and profile image
- Click on <b>Create new lesson</b> under <b>Teach</b>
                                    </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">
                                        <button style="color: black" class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse6" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            How do I upload video teaching material?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse6" class="collapse" data-parent="#accordionTeachSenpai">
                                    <div class="card-body">
                                        <p style="white-space: pre-wrap; margin-top:5px;">
TeachSenpai uses youtube to embed the video onto your material page. 

<b>To get Started</b>
1. Go to youtube and create an account
2. Go to youtube studio and upload your video as private
3. Click on share under your video
4. Click <b>Embed</b>
5. Look for the URL under the embed code ie("https://www.youtube.com/embed/mxxxxxxxxxxx")
6. Copy and paste this link into your url link under <b>Create material</b>
7. Your student should be able to see the video
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">
                                        <button style="color: black" class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse7" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            How do I check my earnings?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse7" class="collapse" data-parent="#accordionTeachSenpai">
                                    <div class="card-body">
                                        To check your earnings, go to ->Profile -> Balance
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">
                                        <button style="color: black" class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse8" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            How do I withdraw my earning to my back account?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse8" class="collapse" data-parent="#accordionTeachSenpai">
                                    <div class="card-body">
                                        Withdraw feature is currently under development in this beta version. Manual transfer will be applied.
                                        Please email teachsenpai@support to claim your earnings.
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

{%endblock%}