{%extends 'base.template.html' %}
{%load static%}

{%block content%}
<div id="profilebox" class="card mb-3" style=" height:190px; border-color: white;  background: linear-gradient(180deg, rgb(27, 1, 97) 50%, rgb(255, 255, 255) 50%);">
  <div class="row mt-5 ml-2" >
    <div class="col-sm-1 " id="profile_pic">
      <img src="{{user.profile.profileimg}}" class="card-img" alt="profilepic" style="border-radius: 100%;"/>
    </div>
    <div class="col-sm-11" style="width: min-content;">
      <div class="card-body" id="profile_desc">
        <h5 class="card-title" style="color: white">{{user.profile.username}}</h5>
        <p class="card-text">{{user.profile.profiledesc}}</p>
      </div>
    </div>
  </div>
</div>


<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'show_profile_route' %}">Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'show_profile_orders_route' %}">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'show_profile_reviews_route' %}" tabindex="-1">Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'show_profile_balance_route' %}" tabindex="-1">Balance</a>
          </li>
      </ul>
    </div>
    <div class="card-body">
        <div id="ordercards" class="row">
            {%for product in products%}
            {% if product.owner == user%}
                <div class="card" style="width: 320px; margin:13px">
                    <a href="{% url 'view_product_details' product_id=product.id %}" style="text-decoration: none; background-color: none; color:black">
                        <img class="card-img-top" src="{{product.image.cdn_url}}" style="height: 230px;"/>
                    <div class="card-header">
                        {{order.product.title}}
                      </div>
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}} </h5>
                        Price:
                        <h5 class="card-title">{{product.price}}</h5>
                        <p class="card-text">{{product.content}}</p>
                        <a href="{% url 'update_product_route' product_id=product.id %}"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'delete_product_route' product_id=product.id %}"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </a>
                </div>
                {%endif%}
            {%endfor%}
        </div>
    </div>
    
        <div class="card-footer">
            <div class="col"><a href="{% url 'create_product_route' %}"><button type="button" class="btn btn-primary theme">Create new lesson</button></a>
          </div>
  </div>


  
{%endblock%}