{%extends 'base.template.html' %}
{%load static%}

{%block content%}
<div id="profilebox" class="card mb-3" style=" height:190px; border-color: white;  background: linear-gradient(180deg, rgb(27, 1, 97) 50%, rgb(255, 255, 255) 50%);">
    <div class="row no-gutters mt-5" >
      <div class="col-xs-12-md-0 ml-3">
        <img src="{{user.profile.profileimg}}" class="card-img" alt="profilepic" style="border-radius: 100%; height: 120px; width: 120px;"/>
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title" style="color: white">{{user.profile.username}}</h5>
          <p class="card-text">{{user.profile.profiledesc}}</p>
          <p class="card-text"><small class="text-muted">joined since {{user.date}}</small></p>
        </div>
      </div>
    </div>
  </div>


<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'show_profile_route' %}">Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'show_profile_orders_route' %}">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'show_profile_reviews_route' %}" tabindex="-1">Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'show_profile_balance_route' %}" tabindex="-1">Balance</a>
          </li>
      </ul>
    </div>
    <div class="card-body">

    {%for review in reviews%}
    {%if review.product.owner == user%}
    <div class="card" style="margin-bottom: 10px;">
      <div class="card-header">
        <p class="card-title"><img src="{{review.owner.profile.profileimg}}" style="height: 30px; width: 30px; border-radius: 100%;"/><b>
          {{review.owner.username}} </b> </p>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{review.title}}</h5>
        <p class="card-text">{{review.content}}</p>
      </div>
    </div>
    {%endif%}
    {%endfor%}

  </div>


  
{%endblock%}