{%extends 'base.template.html' %}
{%load static%}

{%block content%}

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'show_profile_route' %}">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active" href="{% url 'show_profile_orders_route' %}">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'show_profile_reviews_route' %}" tabindex="-1">Reviews</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
        <div class="container">
            {% for order in orders%}
                {% if order.product.owner == user%}
                {{order.title}}
                {%endif%}
            {%endfor%}
        </div>
    </div>
  </div>



{%endblock%}