{%extends 'base.template.html' %}
{%load static%}

{%block content%}
<div id="profilebox" class="card mb-3" style=" height:190px; border-color: white;  background: linear-gradient(180deg, rgb(27, 1, 97) 50%, rgb(255, 255, 255) 50%);">
  <div class="row mt-5 ml-2" >
    <div class="col-sm-1 " id="profile_pic">
      <img src="{{user.profile.profileimg}}" class="card-img" alt="profilepic" style="border-radius: 100%;"/>
    </div>
    <div class="col-sm-11" style="width: min-content;">
      <div class="card-body" id="profile_desc">
        <h5 class="card-title" style="color: white">{{user.profile.username}}</h5>
        <p class="card-text">{{user.profile.profiledesc}}</p>
      </div>
    </div>
  </div>
</div>


<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'show_profile_route' %}">Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'show_profile_orders_route' %}">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'show_profile_reviews_route' %}" tabindex="-1">Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'show_profile_balance_route' %}" tabindex="-1">Balance</a>
          </li>
      </ul>
    </div>
    <div class="card-body">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-active-tab" data-toggle="tab" href="#nav-active" role="tab" aria-controls="nav-active" aria-selected="true">Active</a>
                            <a class="nav-item nav-link" id="nav-resolved-tab" data-toggle="tab" href="#nav-resolved" role="tab" aria-controls="nav-resolved" aria-selected="false">Resolved</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
                          <div class="container">
                            {% for order in orders%}
                                {% if order.product.owner == user%}
                                  {% if order.resolve == 'unresolved'%}
                                <div class="card" style="width:100%;">
                                    <div class="card-header">
                                      {{order.product.title}}
                                    </div>
                                    <div class="card-body">
                                      <img src="{{order.owner.profile.profileimg}}" class="card-img" alt="profilepic" style="border-radius: 100%; height: 50px; width: 50px;"/>
                                      <h5 class="card-title">{{order.owner.username}}</h5>
                                      <h5 class="card-title" style="margin-top: 20px;"><i class="far fa-envelope"></i> {{order.title}}</h5>
                                      <p class="card-text">{{order.content}}</p>
                                      <a href="{% url 'create_content_route' order_id=order.id product_id=order.product.id %}" class="btn btn-primary">Create Content</a>
                                      <a href="{% url 'show_content_route' order_id=order.id  %}" class="btn btn-primary">Show Content</a>
                                    </div>
                                  </div>
                                  {%endif%}
                                {%endif%}
                                
                            {%endfor%}
                        </div>
                        </div>
                        <div class="tab-pane fade" id="nav-resolved" role="tabpanel" aria-labelledby="nav-resolved-tab">
                          <div class="container">
                            {% for order in orders%}
                                {% if order.product.owner == user%}
                                  {% if order.resolve == 'resolved'%}
                                <div class="card" style="width:100%;">
                                    <div class="card-header">
                                      {{order.product.title}}
                                    </div>
                                    <div class="card-body">
                                      <img src="{{order.owner.profile.profileimg}}" class="card-img" alt="profilepic" style="border-radius: 100%; height: 50px; width: 50px;"/>
                                      <h5 class="card-title">{{order.owner.username}}</h5>
                                      <h5 class="card-title" style="margin-top: 20px;"><i class="far fa-envelope"></i> {{order.title}}</h5>
                                      <p class="card-text">{{order.content}}</p>
                                      <a href="{% url 'show_content_route' order_id=order.id  %}" class="btn btn-primary">Show Content</a>
                                    </div>
                                  </div>
                                  {%endif%}
                                {%endif%}
                            {%endfor%}
                        </div>
                        </div>
                  
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


    </div>
  </div>


{%endblock%}