{% extends 'base.template.html' %}
{%load static %}
{%load crispy_forms_tags %}
{%block content%}
    <body>
        <div class="card" style="width: 99%; border: 1px solid rgb(53, 2, 196);">
            <div class="card-body">
              <h5 class="card-title">Thanks for your order!</h5>
              <p class="card-text">Sit back, relax or even better...go for a run! Your tutor will send your materials shortly.</p>
              <a href="{% url 'show_order_route' %}" class="btn btn-primary theme">View order</a>
            </div>
          </div>
    </body>


{%endblock%}
