{% extends 'base.template.html' %}
{%load static %}
{%block content%}
    <body>
        <div class="container" style="text-align: center; background-color:rgb(172, 111, 230); border-radius: 5px;">
        <h3 style="font-family: 'Source Sans Pro', sans-serif; color:rgb(0, 0, 0)"> Your Orders</h3>
        </div>
        <div class="row">
            {%for order in orders%}
                {%if order.owner == user%}
                
                <div class="card" style="width: 320px; margin:45px">
                    <a href="{% url 'show_content_route' order_id=order.id %}" style="text-decoration: none; background-color: none; color:black">
                        <img class="card-img-top" src="{{order.product.image.cdn_url}}" style="height: 230px;"/>
                    <div class="card-header">
                        {{order.product.title}}
                      </div>
                    <div class="card-body">
                        <h5 class="card-title">{{order.title}} </h5>
                        Price:
                        <h5 class="card-title">{{order.product.price}}</h5>
                        <p class="card-text">{{order.content}}</p>
                    </div>
                </a>
                </div>
            
                {%endif%}
            {%endfor%}
        </div>
    </body>


{%endblock%}
