{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS Jquery-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <title>{%block title%}{%endblock%}</title>
    
    {%block 'head'%}{%endblock%}
  </head>
  <body>

    <div class="wrapper">

      <!-- Top nav bar -->
      <div class="top_navbar">
        <div class="hamburger" id="hamburger" onclick="toggleNav()">
          <i class="fa fa-bars" style="font-size:24px"></i>
        </div>
        <div class="top_menu">
          <div class="logo">
            <a href="{% url 'show_product_route' %}" style="text-decoration: none;">TeachSenpai</a>
          </div>
          <ul>
            <li><a href="#">
              <i class="fas fa-search"></i>
              </a></li>
            <li><a href="#">
              <i class="fas fa-bell"></i>
              </a></li>
            <li><a href="#">
              <i class="fas fa-user"></i>
              </a></li>
          </ul>
        </div>
      </div>
      

      <!-- Side Bar -->
      <div class="sidebar" id="mySidenav">
          <ul>
            <li><a href="{% url 'show_product_route' %}">
              <span class="icon"><i class="fas fa-book"></i></span>
              <span class="title" id="navtext1">Home</span>
              </a></li>
            <li><a href="{% url 'show_product_route' %}">
              <span class="icon"><i class="fas fa-file-video"></i></span>
              <span class="title" id="navtext2">Teach</span>
              </a></li>
            <li><a href="{% url 'show_product_route' %}">
              <span class="icon"><i class="fas fa-volleyball-ball"></i></span>
              <span class="title" id="navtext3">Explore</span>
              </a></li>
            <li><a href="{% url 'show_order_route' %}" >
              <span class="icon"><i class="fas fa-file-video"></i></span>
              <span class="title" id="navtext4">Your Orders</span>
              </a></li>
            <li><a href="{% url 'show_product_route' %}">
              <span class="icon"><i class="fas fa-leaf"></i></span>
              <span class="title" id="navtext5">Your Profile</span>
              </a></li>
        </ul>
      </div>
      <!-- end of side bar -->

      <div class="main_container" id="main">
        {% if messages %}  
        <div class='alert alert-success'>    
            <div>
                {% for message in messages %}
                <div class="message">
                 {{ message }} 
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>
                 {% endfor %}
            </div>
        </div>
       {% endif %}
  
       <div class='header'>
        <a href="{% url 'view_cart' %}">Shopping Cart ({{number_of_items}})</a>
      </div>
       
        
        <div id="main">
           {%block content%}{%endblock%}
        </div>
  
    </div>

    </div>

    {%block js %}
    <!-- Optional JavaScript -->
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {%endblock%}
  </body>
</html>