{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS Jquery-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="{% static 'js/script.js' %}"></script>
    <title>{%block title%}{%endblock%}</title>
    
    {%block 'head'%}{%endblock%}
  </head>
  <body>

    <div class="wrapper">

      <!-- Top nav bar -->
      <div class="col" id="navbar">

      <div class="top_navbar" >
        <div class="hamburger" id="hamburger" onclick="toggleNav()" style="margin-top: 4px;">
          <i class="fa fa-bars" style="font-size:24px"></i>
        </div>
        <div class="top_menu">
          <div class="logo">
            <a href="{% url 'homepage' %}" style="text-decoration: none; color:rgb(26, 26, 26); font-family: 'Fredoka One', cursive; font-size: 20px;">Teach<span style="color:rgb(53, 2, 196); font-family: 'Fredoka One', cursive; font-size: 26px;">S</span>enpai</a>
          </div>
          <div class="logo">
            {%block navbar%}{%endblock%}
          </div>
          <ul>
            <li><a href="{% url 'view_cart' %}" style="text-decoration: none; color:black"><i class="far fa-envelope-open"></i> {{number_of_items}}</a></li>


            <li><div class="dropdown" style="margin-top: 15px; margin-left: 15px;">
              {% if request.user.is_authenticated  %}
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{request.user}}
                {%else%}
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sign Up
                  {%endif%}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" type="button" style="margin:0;">Profile</a>
                {% if request.user.is_authenticated  %}
                <a class="dropdown-item" type="button" style="margin:0;">Help</a>
                {%else%}
                <a class="dropdown-item" href="{% url 'account_signup' %}" type="button" style="margin:0;">Sign up</a>
                {%endif%}
                {% if request.user.is_authenticated  %}
                <a class="dropdown-item" href="{% url 'account_logout' %}" type="button" style="margin:0; text-decoration: none;">Logout</a>
                {%else%}
                <a class="dropdown-item" href="{% url 'account_login' %}" type="button" style="margin:0; text-decoration: none;">Login</a>
                {%endif%}
              </div>
            </div></li>
          </ul>
        </div>
        
      </div>
    </div>

      <!-- Side Bar -->
      <div class="sidebar" id="mySidenav">
          <ul>
            <li><a href="{% url 'homepage' %}">
              <span class="icon"><i class="fas fa-home"></i></span>
              <span class="title" id="navtext1">Home</span>
              </a></li>
            <li><a href="{% url 'show_profile_route' %}">
              <span class="icon"><i class="fas fa-chalkboard-teacher"></i></span>
              <span class="title" id="navtext2">Teach</span>
              </a></li>
            <li><a href="{% url 'show_explore_route' %}">
              <span class="icon"><i class="fas fa-book"></i></span>
              <span class="title" id="navtext3">Explore</span>
              </a></li>
            <li><a href="{% url 'show_order_route' %}" >
              <span class="icon"><i class="fas fa-sticky-note"></i></span>
              <span class="title" id="navtext4">Your Orders</span>
              </a></li>
            <li><a href="{% url 'show_product_route' %}">
              <span class="icon"><i class="fas fa-user-alt"></i></span>
              <span class="title" id="navtext5">Your Profile</span>
              </a></li>
        </ul>
      </div>
      <!-- end of side bar -->

      <div class="main_container" id="main">
        {% if messages %}  
        <div class='alert alert-success'>    
            <div>
                {% for message in messages %}
                <div class="message">
                 {{ message }} 
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>
                 {% endfor %}
            </div>
        </div>
       {% endif %}
  
       <div class='header'>
        
      </div>
       
        
        <div id="main">
           {%block content%}{%endblock%}
        </div>
  
    </div>

    </div>

    {%block js %}
    <!-- Optional JavaScript -->
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {%endblock%}
  </body>
</html>