{% extends 'base.template.html' %}
{%load crispy_forms_tags %}
{% block content %}
<h1>{{product.title}}</h1>
<p>
    Category: {{product.category.title}}
</p>
<div>
    <img src="{{product.image.cdn_url}}" style="height: 200px; width: 400px;"/>
</div>
<h3> Tutor: {{product.owner}}</h3>
<h3> Price: {{product.price}}</h3>
<p>
    Tags: {% for t in product.tag.all %} <span class="label">{{t.title}}</span> {%endfor%}
</p>
<p>
    Details: {{product.desc}}
</p>

{% if product.owner != user%}
<a href="{% url 'create_order_route' product_id=product.id %}">Im interested</a>
{%endif%}

{% endblock %}

