{% extends 'base.template.html' %}
{%load static %}

{%block content%}
    <body>
        <div id="homepage_img" style="padding-top:120px;">
            <div class="col" style="width: auto;">
              <h2 style="font-family: 'Fredoka One', cursive; color:rgb(32, 43, 110); text-align: center; font-size: 40px;">
                Pick up a new skill or master a topic
              </h2>
              <h4 style="font-family: 'Roboto', sans-serif; color:rgb(0, 0, 0); text-align: center; ">
                <b>Ask anything, learn everything.</b>
              </h4>
              <form class="form-inline" method="GET" style="justify-content: center;">
                <input class="form-control form-control-sm mr-3 w-30" type="text" aria-label="Search" name="title" placeholder="Search for a topic">
                <button class="btn btn-primary theme btn-sm" type="submit" value="Search">Search</button>
            </form>
            </div>
          </div>
      <section>
        <div class="card mb-4 mt-4" style="border-color: white;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://image.freepik.com/free-vector/man-working-with-his-team-online_23-2148490929.jpg" style="object-fit: cover;" class="card-img"
                alt="join_img">
            </div>
            <div class="col-md-8">
              <div class="card-body" id="homecontent" style=" font-family: 'Work Sans', sans-serif;">
                <h3 class="card-title"> <b>24/7 Access to help for your studies</b></h3>
                <p class="card-text">Stuck on a problem? Just ask! Find fellow Senpai's to help you out. Show them your appreciation for a small fee equivalent to buying them a coffee!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4 mt-4" style="border-color: white;">
          <div class="row no-gutters" id="swap">
            <div class="col-md-8">
              <div class="card-body" id="homecontent" style=" font-family: 'Work Sans', sans-serif;">
                <h3 class="card-title"><b>Want to teach? Get started by setting up your teaching profile</b></h3>
                <p class="card-text">It's simple! Create a profile and upload a subject! Upload a video of your tutorial to youtube and input the embedded link.</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="https://image.freepik.com/free-vector/woman-taking-break-from-work_23-2148508515.jpg" class="card-img" alt="create_img">
            </div>
          </div>
        </div>
        <div class="card mb-4 mt-4" style="border-color: white;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img
                src="https://image.freepik.com/free-vector/man-multitasking-work_23-2148390869.jpg"
                class="card-img" alt="motiv_img">
            </div>
            <div class="col-md-8" style="font-family: 'Work Sans', sans-serif;">
              <div class="card-body" id="homecontent">
                <h3 class="card-title"><b>Teach and learn anything</b></h3>
                <p class="card-text">From programming, science to arts. Teach or learn anything you wish. Get real advices and help.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </body>

{%endblock%}
