{% extends 'base.template.html' %}
{%load static %}
{%block content%}
    <body>
        {% if request.user.is_authenticated  %}
        <p>Welcome {{request.user}}</p>
        {% else %}
        <p>Please <a href="accounts/login">Login</a></p>
        {%endif%}
        
        <h1>products page</h1>
        <p>
            Here you can see all the products that we have.
        </p>
        <ul> 
            {%for product in products%}
                <li><a href="{% url 'view_product_details' product_id=product.id %}">{{product.title}} </a> 
                    <a href="{% url 'update_product_route' product_id=product.id %}">Edit</a>
                    <a href="{% url 'delete_product_route' product_id=product.id %}">Delete</a>
                    <a href="{% url 'add_to_cart' product_id=product.id %}">Add to Cart</a>  
                </li>
                <li>{{product.desc}}</li>

                {% if product.video %}
                    <div class="flex-video widescreen">
                        <iframe width="500" height="281" src="{{product.video}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                {% else %}
                    <p> no video </p>
                {%endif%}
            {%endfor%}
            <a href="{% url 'create_product_route' %}">Create new</a>
        </ul>
    </body>


{%endblock%}
