{% extends 'base.template.html' %}
{%load static %}
{%block content%}
<h1> this is extended</h1>
    <body>
        {% if request.user.is_authenticated  %}
        <p>Welcome {{request.user}}</p>
        {% else %}
        <p>Please <a href="accounts/login">Login</a></p>
        {%endif%}
        
        <h1>products page</h1>
        <p>
            Here you can see all the products that we have.
        </p>
        <ul> 
            {%for product in products%}
                <li>{{product.title}} 
                    <a href="{% url 'update_product_route' product_id=product.id %}">Edit</a>
                    <a href="{% url 'delete_product_route' product_id=product.id %}">Delete</a>
                </li>
                <li>{{product.desc}}</li>
            {%endfor%}
            <a href="{% url 'create_product_route' %}">Create new</a>
        </ul>
    </body>


{%endblock%}
